Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Security group to allow HTTP for all, 9092 for office"
      SecurityGroupIngress:
        - {CidrIp: "80.194.70.52/32", IpProtocol: "tcp", FromPort: "80", ToPort: "80"}
        - {CidrIp: "80.194.70.52/32", IpProtocol: "tcp", FromPort: "9092", ToPort: "9092"}
